<nav>
  <a href="/">
    <img src="/assets/pictures/Logo_KarateDojo_Usingen.jpg" id="logo" alt="KarateDojo Usingen e.V. Logo"/>
  </a>
  <h2>Karate-Dojo Usingen e.V.</h2>
  <hr/>
  <ul>
  <p>{{ site.description }}</p>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/news/">Neuigkeiten</a></li>
    <li><a href="/preise/">Preise</a></li>
    <li><a href="/bilder/">Bilder</a></li>
    <li><a href="/information/">Informationen</a></li>
    <li><a href="/press/">Presse</a></li>
    <li><a href="/guests/">Gästebuch</a></li>
    <li><a href="/impressum/">Inprint</a></li>
  </ul>
  <hr/>
  <h2>Trainingszeiten</h2>
  <b>Erwachsene</b>
    <table border="0">
        <tr>
            <td>Mo.:</td>
            <td>19:30 - 21:00Uhr</td>
        </tr>
        <tr>
            <td>Do.:</td>
            <td>19:00 - 20:30Uhr</td>
        </tr>
    </table>
    <p><b>Kinder</b></p>
    <table border="0">
        <tr>
            <td>Di.:</td>
            <td>15:00 - 16:00Uhr</td>
        </tr>
    </table>
    <br/>
    <ul>
        <li><a href="/anfahrt/">Anfahrt...</a></li>
        <li><a href="/preise/">Preise...</a></li>
        <li><a href="/trainingsausfall-am/">Trainingsausfall am...</a></li>
    </ul>
  <hr/>
  <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div>
  <hr/>
  </ul>
</nav>
