<nav>
  <a href="/">
    <img src="/assets/pictures/Logo_KarateDojo_Usingen.jpg" id="logo" alt="KarateDojo Usingen e.V. Logo"/>
  </a>
  <h2>Karate-Dojo Usingen e.V.</h2>
  <hr/>
  <ul>
  <p>{{ site.description }}</p>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/news/">Neuigkeiten</a></li>
    <li><a href="/preise/">Preise</a></li>
    <li><a href="/bilder/">Bilder</a></li>
    <li><a href="/information/">Informationen</a></li>
    <li><a href="/press/">Presse</a></li>
    <li><a href="/guests/">Gästebuch</a></li>
    <li><a href="/impressum/">Inprint</a></li>
  </ul>
  <hr/>
  <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div>
  <hr/>
  </ul>
</nav>
